*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

body {
  background-color: #fff;
  color: black;
  font: Helvetica;
  font-family: sans-serif;
  font-size: 12px;
  width: 100%;
}

.lines {
  display: inline-block;
  width: 10%;
}

.destination {
  display: inline-block;
  width: 30%
}

.frequency {
  display:inline-block;
  width: 30%;
}

.Route {
  display: block;
  margin: 10px;
}
