*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font: SF Pro display;
  font-family: sans-serif;
  width: 100%;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.bold {
  font-weight: bold;
  font-size: 17px;
}

.red {
  color: red;
}

.route {
  width: 100%;
  margin:20px;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  color: #000;
}
